html {
    text-align: center;
}
.hidden {
    display: none;
}

img {
    height: 400px;
    width: 25%;
    float: left;
    margin: 80px 100px 0 100px;
}
section {
    width: 50%;
    float: left;
    text-align: left;
}
form {
    margin-bottom: 50px;
}
#update-form {
    position: fixed;
    margin: auto;
    bottom: 50px;
    left: 45%;
}
input{
    display: block;
    margin-bottom: 10px;
}
input[value="Update"] {
    margin: auto;
}
.fa-trash {
    padding: 0;
    border: 0;
    background: none;
}